<section class="row md-whiteframe-z1 " ng-controller="Home">
  <div layout-align="space-around center" class="text-center" style="padding:33px; margin-bottom: 800px;" ng-hide="showTeam1==1 || showTeam2==1 || showStats==1">

  	<p class="text-center">
  		<img src="images/Pro-Activlogo.png" class="img-responsive, center-block">
  	</p>

<div layout="row" layout-align="space-around center">
  <div flex>
    <md-card>
        <img ng-src="images/awayTeam.jpg" class="md-card-image" alt="Washed Out"  ng-click="showTeam2=1">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Barcelona Dragons </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
    </md-card>
  </div>

<div flex>
    <md-card flex="50 offset 2">
        <img ng-src="images/homeTeam.jpg" class="md-card-image" alt="Washed Out" ng-click="showTeam1=1">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Amsterdam Admirals</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
    </md-card>
  </div>
</div>

  	<!-- <p class="text-center">
      <md-button aria-label="select team" class="btn-width-medium md-raised md-primary" ng-click="showTeam1=1">
        <md-icon md-svg-src="dist/img/icons/ic_grade_24px.svg">
        </md-icon> Amsterdam Admirals
      </md-button>

  	</p>
  	<p class="text-center">
      <md-button aria-label="select team" class="btn-width-medium md-raised md-accent" ng-click="showTeam2=1">
        <md-icon md-svg-src="dist/img/icons/ic_grade_24px.svg">
        </md-icon> Barcelona Dragons
      </md-button>

  	</p> -->
  </div>

  <div class="text-center" style="padding:33px" ng-show="showTeam1==1">
  	<h2 class="text-center" style="color:#000">Amsterdam Admirals</h2>

        <div class="col-md-6 col-md-offset-3">
            <div class="md-whiteframe-z1">
              <md-toolbar class="md-primary md-theme-default md-whiteframe-z1">
                <div class="md-toolbar-tools">
                  <h3>Choose Players</h3>
                  <span class="flex"></span>

                </div>
              </md-toolbar>
              <md-content>
                <div class="md-content__body">
                  <div class="row">
                    <div class="table-responsive">

                      <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Position</th>
                          <th>Plays</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in amsterdamPlayers">
                        <td class="text-center"><a href ng-click="apStat(data.nflId,data.displayName)">{{data.jerseyNumber}} {{data.displayName}}</a></td>
                          <td class="text-center"><a href ng-click="apStat(data.nflId,data.displayName)">{{data.position}}</a></td>
                          <td ng-show="data.plays.length>0">{{data.plays.length}}</td>
                          <td ng-show="data.plays.length<1">0</td>
                        </tr>
                        </tbody>
                      </table>

                  </div>
                </div>
                </div>
              </md-content>

            </div>
              	<p class="text-center">
			      <md-button aria-label="select team" class="btn-width-medium md-raised md-default" ng-click="showTeam1=0">
			        <md-icon md-svg-src="dist/img/icons/ic_keyboard_backspace_24px.svg">
			        </md-icon> Back
			      </md-button>

				</p>
        </div>

  </div>

  <div class="text-center" style="padding:33px" ng-show="showTeam2==1">
  	<h2 class="text-center" style="color:#000">Barcelona Dragons</h2>

        <div class="col-md-6 col-md-offset-3">
            <div class="md-whiteframe-z1">
              <md-toolbar class="md-primary md-theme-default md-whiteframe-z1">
                <div class="md-toolbar-tools">
                  <h3>Choose Players</h3>
                  <span class="flex"></span>

                </div>
              </md-toolbar>
              <md-content>
                <div class="md-content__body">
                  <div class="row">
                    <div class="table-responsive">

                      <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Position</th>
                          <th>Plays</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in dragonsPlayers">
                        <td class="text-center"><a href ng-click="dpStat(data.nflId,data.displayName)">{{data.jerseyNumber}} {{data.displayName}}</a></td>
                          <td class="text-center"><a href ng-click="dpStat(data.nflId,data.displayName)">{{data.position}}</a></td>
                          <td ng-show="data.plays.length>0">{{data.plays.length}}</td>
                          <td ng-show="data.plays.length<1">0</td>

                        </tr>
                        </tbody>
                      </table>

                  </div>
                </div>
                </div>
              </md-content>

            </div>
              	<p class="text-center">
			      <md-button aria-label="select team" class="btn-width-medium md-raised md-default" ng-click="showTeam2=0">
			        <md-icon md-svg-src="dist/img/icons/ic_keyboard_backspace_24px.svg">
			        </md-icon> Back
			      </md-button>

				</p>
        </div>
  </div>

  <div class="text-center" style="padding:33px" ng-show="showStats==1">

        <div class="col-md-6 col-md-offset-3">
            <div class="md-whiteframe-z1">
              <md-toolbar class="md-primary md-theme-default md-whiteframe-z1">
                <div class="md-toolbar-tools">
                  <h3>{{routePlayer}} Routes</h3>
                  <span class="flex"></span>

                </div>
              </md-toolbar>
              <md-content>
                <div class="md-content__body">
                  <div class="row text-center">
                      canvas goes here
                  </div>

               <p>
                  <md-button aria-label="select team" class="btn-width-medium md-raised md-accent" ng-click="nextRoute()">
                    <md-icon md-svg-src="dist/img/icons/ic_keyboard_arrow_right_24px.svg">
                    </md-icon> Next Route
                  </md-button>

              </p>

                </div>
              </md-content>
            </div>
        <p>
            <md-button aria-label="select team" class="btn-width-medium md-raised md-default" ng-click="back()">
              <md-icon md-svg-src="dist/img/icons/ic_keyboard_backspace_24px.svg">
              </md-icon> Back
            </md-button>

        </p>


        </div>



  </div>

</section>
