.gauge__footer-progress {
  padding-top: 0px;
}

.home-chart-polar canvas {
  width: 292px !important;
}

.chart-js--small canvas {
  width: 290px !important;
}

.dashboard_color_switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}